@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display:flex;
    justify-content:center;
    background-color:darkgrey;
    margin-top: 60px;

    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}